<section class="wrapper">
  <section class="header">
    <section class="header-logo">
      <a class="header-logo--link" href="#">logo</a>
    </section>
    <section class="header-section container">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, et.</div>
      <section class="header-section-subscribe">
        <input type="text" class="header-section-subscribe--input" placeholder="Enter your Email">
        <button class="header-section-subscribe--button">
          <img src="../../assets/paper-plane.svg" alt="subscribe">
        </button>
      </section>
  </section>
  </section>
</section>
